.next-previous-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 20px;
}

.previous-page {
  background-color: hwb(200 27% 72% / 0.2);
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  font-size: 16px;
  color: var(--color-titulo);
  cursor: pointer;
}

.next-page {
  background-color: hwb(200 27% 72% / 0.2);
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  font-size: 16px;
  color: var(--color-titulo);
  cursor: pointer;
}

.previous-page:hover {
  background-color: hwb(200 27% 72% / 0.4);
}

.next-page:hover {
  background-color: hwb(200 27% 72% / 0.4);
}
