@import url("../style/global.css");
/*  Para llamar un color solo se pone por ejemplo  background-color: var(--color-fondo);
  --color-titulo : #5FD3ED;
  --color-background: #252634;
  --color-details: #616489;
  --color-text: #FFFFFF;
  --color-text-2: #B9B7B7; 
*/

.details-container {
  /* display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr; */
  align-content: center;
  justify-content: center;
  box-shadow: 0 0 10px #0000;
  border-radius: 10px;
  margin-top: 2%;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 2%;
  background-color: hwb(200 27% 72% / 0.2);
  color: #ffffff;
}

.details-container img {
  width: 20%;
  height: auto;
  border-radius: 10px;
  margin: 5%;
  border-radius: 5%;
  object-fit: cover;
}

.details-container h1 {
  color: var(--color-titulo);
  font-size: 3em;
  margin-left: 5rem;
  margin-top: 2rem;
}

.ImgInformation {
  display: flex;
  align-content: center;
  justify-content: center;
  border: 2px #ffffff;
  gap: 5px;
}

.details-container p {
  font-size: 1.5em;
  align-content: center;
  justify-content: center;
  padding: 4%;
}

.genres {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 0;
}

.genres h3 {
color: var(--color-titulo);
font-size: 3em;
}

.movies-related {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  margin-top: 0;
}

.movies-related h1 {
  color: var(--color-titulo);
  font-size: 2em;
}
