.footer {
  background-color:  hwb(200 27% 72% / 0.2);
  color: white;
  text-align: center;
  padding: 20px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 5rem;
  /* Pon el footer siempre abajo*/
  bottom: 0;
  left: 0;

}

.footer-politics {
  display: flex;
  flex-direction: column;
  gap: 10px;
  cursor: pointer;
}

.footer-social {
  display: flex;
  gap: 20px;
}

.footer-icons {
  font-size: 1.5em;
  color: white;
}

@media (max-width: 768px) {
  .footer {
    flex-direction: column;
    gap: 20px;
  }
}