/* App.css */
@import url('./style/variable.css');
/*  Para llamar un color solo se pone por ejemplo  background-color: var(--color-fondo);
  --color-titulo : #5FD3ED;
  --color-background: #252634;
  --color-details: #616489;
  --color-text: #FFFFFF;
  --color-text-2: #B9B7B7; 
*/


.App {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  color: #5FD3ED;
  background-color: var(--color-background);
}


header {
  width: 100%;
  background-color: hsla(0, 0%, 0%, 0.54);
  padding: 20px;
  color: white;
  text-align: center;
}

header h1 {
  margin: 0;
  color:#5FD3ED;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main {
  padding: 20px;
  display: block;
}


